.header {
    display: flex;
    background-color: black;
    color: white;
    .left {
        flex: 1;
        align-content: center;
        margin-left: 10px;
    }
    .right {
        flex: 1;
        text-align: right;
        margin-right: 100px;
        align-content: center;
    }
}
.main {
    
}
.footer {
    text-align: center;
}