.header {
    display: flex;
    // background-color: black;
    color: white;
    .left {
        flex: 1;
        align-content: center;
        margin-left: 10px;
    }
    .right {
        flex: 1;
        text-align: right;
        margin-right: 100px;
        align-content: center;
    }
}
.main {
    min-height: calc(100vh - 64px - 71px);
}
.footer {
    text-align: center;
    background-color: #f7f7f7;
    border-top: 1px solid #e8e8e8
}